@media screen and (max-width : 1400px) {
    main{
        margin: 0;
    }
    
    body{
        font-size: 12px;
    }

    #title-left h1{
        font-size: 20px;
    }

    #title-left p{
        font-size: 15px;
    }

    #title-right{
        font-size: 15px;
    }

    article img {
        width: 40px;
    }

    article{
        margin-bottom: 10px;
        padding: 10px;
    }

    .notif-text{
        flex-wrap: wrap;
    }
}